# Node modules
node_modules/

# Environment
.env

# Jest
coverage/

# NX
.nx/cache/

# Build output
dist/
build/
generated/

# Compiled output
tmp/
out-tsc/

# Source folders
/src/test-compilation/
/src/api-testing/

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# GitHub
.github/

# Misc
.sass-cache/
connect.lock
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/

# System files
.DS_Store
Thumbs.db

# Config & metadata (if you really want to ignore these)
package.json
LICENSE
eslint.config.js
tsconfig.json
rollup/
.gitignore